{% extends "base.html" %}
{% load crispy_forms_filters %}

{% block content %}
  <h1>
    Projects list
    <a href="{% url 'task_manager:project-create' %}" class="btn btn-primary link-to-page">
      Create
    </a>
  </h1>
  <form method="get" action="" class="form-inline">
      {{ search_form|crispy }}
      <input class="btn btn-secondary" type="submit" value="🔍">
  </form>
  {% if project_list %}
    <table class="table">
      <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Count of Teams</th>
        <th>Count of Tasks</th>
      </tr>
    {% for project in project_list %}
      <tr>
        <td>{{ project.id }}</td>
        <td><a href="{{ project.get_absolute_url }}">{{ project.name }}</a></td>
        <td>{{ project.teams.count }}</td>
        <td>{{ project.tasks.count }}</td>
      </tr>
    {% endfor %}

    </table>
    {% else %}
      <p>There are no projects in the service.</p>
    {% endif %}
{% endblock %}