{% extends "base.html" %}
{% load crispy_forms_filters %}

{% block content %}
  <h1>Task list
    <a href="{% url 'task_manager:task-create' %}" class="btn btn-primary link-to-page">
      Create
    </a>
  </h1>
  <form method="get" action="" class="form-inline">
      {{ search_form|crispy }}
      <input class="btn btn-secondary" type="submit" value="🔍">
  </form>

  <div class="card-group">
    <div class="card">
      <div class="card-header"
           style="background-color:orange; text-align: center">
        <h4>High Priority</h4>
      </div>
      {% if high_priority %}
        {% for task in high_priority %}
            {% block card_high %}
              {% include "includes/task_card.html" %}
            {% endblock %}
        {% endfor %}
      {% else %}
          You do not have high priority tasks yet..
      {% endif %}
    </div>
    <div class="card">
      <div class="card-header"
           style="background-color:#FFD700; text-align: center">
        <h4>Medium Priority</h4>
      </div>
      {% if medium_priority %}
        {% for task in medium_priority %}
            {% block card_medium %}
              {% include "includes/task_card.html" %}
            {% endblock %}
        {% endfor %}
      {% else %}
          You do not have medium priority tasks yet..
      {% endif %}
    </div>
    <div class="card">
      <div class="card-header"
           style="background-color:#ADFF2F; text-align: center">
        <h4>Low Priority</h4>
      </div>
      {% if low_priority %}
        {% for task in low_priority %}
            {% block card_low %}
              {% include "includes/task_card.html" %}
            {% endblock %}
        {% endfor %}
      {% else %}
          You do not have low priority tasks yet..
      {% endif %}
    </div>
    <div class="card">
      <div class="card-header"
           style="background-color:#9ACD32; text-align: center">
        <h4>DONE</h4>
      </div>
      {% if completed %}
        {% for task in completed %}
            {% block card_completed %}
              {% include "includes/task_card.html" %}
            {% endblock %}
        {% endfor %}
      {% else %}
          You do not have completed tasks yet..
      {% endif %}
    </div>
    <div class="card">
      <div class="card-header" 
           style="background-color:#FF4500; text-align: center">
        <h4>FAILED</h4>
      </div>
      {% if failed %}
        {% for task in failed %}
            {% block card_failed %}
              {% include "includes/task_card.html" %}
            {% endblock %}
        {% endfor %}
      {% else %}
          <h5>You do not have failed tasks yet..</h5>
      {% endif %}
    </div>
  </div>
{% endblock %}
